/* General Styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

header {
  background-color: #070e16;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
  border-radius: 100px;
  margin-left: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff0000;
}

/* Hero Section */

.hero {
  background-image: url("assets/hero-background1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  text-align: left;
  color: #fff;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
  margin-top: 150px;
  margin-left: 4%;
}

.hero-content h1 {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e60000;
}

/* About Section */

.about {
  display: flex;
  align-items: center;
  padding: 80px 0;
  background-color: #1f1f1f;
  color: #fff;
}

.about-content {
  flex: 1;
  max-width: 600px;
  padding-right: 50px;
  margin-left: 5%;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

.about-image {
  max-width: 50%;
  border-radius: 10px;
  margin-right: 5%;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Menu Section */

.menu {
  padding: 80px 0;
  text-align: center;
  background-color: #070e16;
}

.menu h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #ffffff;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.menu-item {
  max-width: 300px;
  margin: 0 20px;
  text-align: left;
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  margin-bottom: 10px;
}

.menu-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.menu-item p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ffffff;
}



/* Reservations Section */

.reservations {
  padding: 80px 0;
  text-align: center;
}

.reservation-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.reservation-form h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.reservation-form input,
.reservation-form textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.reservation-form input:focus,
.reservation-form textarea:focus {
  border-color: #ff0000;
  outline: none;
}

.reservation-form textarea {
  resize: none;
}

.reservation-form button {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.reservation-form button:hover {
  background-color: #e60000;
}

.reservation-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
 z-index: 9999;
}

/* Popup Content */
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.close:hover {
  color: #000;
}

#confirm-button {
  display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}





/* Testimonials Section */

.testimonials {
  padding: 80px 0;
  text-align: center;
  background-color: #070e16;
}

.testimonials h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
}

.testimonial {
  max-width: 600px;
  margin: 0 auto 40px;
  text-align: left;
}

.testimonial img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.testimonial p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.testimonial h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

/* Gallery Section */

.gallery {
  padding: 80px 0;
  text-align: center;
  background-color: #070e16;
}

.gallery h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Contact Section */

.contact {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.info-item {
  margin: 0 20px;
  text-align: center;
}

.info-item i {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff0000;
  /* Adjust color to match your design */
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ff0000;
  /* Adjust focus color to match your design */
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e60000;
}

/* Footer */

.footer {
  background-color: #070e16;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo img {
  max-width: 150px;
  border-radius: 100px;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-social a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.footer-text {
  font-size: 14px;
}